<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Test</title>
    <link rel="stylesheet" href="theme.css">
    <style>
        [v-cloak]
        {display: none;}
    </style>
</head>

<body>

    <div class="container pt-5" id="app-div" v-cloak>
        <div class="card">
            <h1>{{title}}</h1>
                     
            <button class="btn" @click="getAll">Update</button>
            <hr />
            <ul class="list" v-if="announcements.length !== 0">
                <li class="list-item" v-for="(announce, idx) in announcements" >
                    ({{idx + 1}}) 
                    <img src="" alt="announce.mainPhoto" >
                    
                    <h4 >{{ announce.title }}</h4>
                    <h3 >{{ announce.price }}</h3>          
                </li>    
                <hr>
                <li>
                   <strong> Amount: {{announcements.length}} </strong> 
                </li>
            </ul>
            <div v-else>Any notes written</div>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="app.js"></script>
</body>

</html>